<ion-content padding>
  <ion-header>
    <ion-navbar color="primary">
      <ion-title>My Profile</ion-title>
    </ion-navbar>
  </ion-header>
  <br>
  <br>
  <br>

  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img src="../../assets/imgs/ross.jpeg">
      </ion-avatar>
      <h2>{{user.firstName}} {{user.lastName}}</h2>
    </ion-item>

    <ion-card-content>
      <p>Add description here</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="star"></ion-icon>
          <div>4.6 Rating</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>4 Comments</div>
        </button>
      </ion-col>
    </ion-row>

  </ion-card>

  <ion-label class="txt" (click)="prodList.hidden=!prodList.hidden">Products</ion-label>
  <ion-list #prodList>
    <ion-item *ngFor="let product of user.productsSold">
      <ion-thumbnail item-start>
        <img src="{{product.img}}">
      </ion-thumbnail>
      <h2>{{product.name}}</h2>
      <p>$ {{product.price}}</p>
      <button ion-button clear item-end>View</button>
    </ion-item>
  </ion-list>

  <ion-label class="txt" (click)="landList.hidden=!landList.hidden">Land</ion-label>
  <ion-list #landList>
    <ion-item *ngFor="let land of user.landUsed" [ngClass]="{'available': land.free}">
      <ion-thumbnail item-start>
        <img src="{{land.img}}">
      </ion-thumbnail>
      <h2>{{land.address.slice(-7)}}</h2>
      <p>{{land.size}} m<sup>2</sup></p>
      <button ion-button clear item-end>View</button>
    </ion-item>
  </ion-list>

  <button ion-button round>New Land</button>
  <button ion-button round>New Product</button>
  <!--
  <ul #landList>
    <li *ngFor="let land of user.landUsed" [ngClass]="{'available': land.free}">
      <div>
        name: {{land.name}}
      </div>
      <div>
        free: {{land.free}}
      </div>
      <div>
        owner: {{land.ownerId}}
      </div>
    </li>
  </ul>-->
</ion-content>