<ion-content padding>
  <ion-header>
    <ion-navbar color="primary">
      <ion-title>My Profile</ion-title>
    </ion-navbar>
  </ion-header>
  <br>
  <br>
  <br>

  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img src="../../assets/imgs/ross.jpeg">
      </ion-avatar>
      <h2>{{user.name}}</h2>
      <p>November 5, 1955</p>
    </ion-item>

    <ion-card-content>
      <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?!
        Whoa. This is heavy.</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="star"></ion-icon>
          <div>4.6 Rating</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>4 Comments</div>
        </button>
      </ion-col>
    </ion-row>

  </ion-card>

  <ion-avatar>
    <img src="">
  </ion-avatar>

  <h2 (click)="prodList.hidden=!prodList.hidden">Products</h2>
  <ul #prodList>
    <li *ngFor="let product of user.productsSold">
      <div>
        name : {{product.name}}
      </div>
      <div>
        price : {{product.price}}
      </div>
      <div>
        planted on the : {{product.creation}}
      </div>
    </li>
  </ul>

  <h2 (click)="landList.hidden=!landList.hidden">Land</h2>
  <ul #landList>
    <li *ngFor="let land of user.productsSold" [ngClass]="{'available': land.free}">
      <div>
        name: {{land.name}}
      </div>
      <div>
        free: {{land.free}}
      </div>
      <div>
        owner: {{land.ownerId}}
      </div>
    </li>
  </ul>
</ion-content>