<!-- <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 dark-bg">
  
</div>

<div class="light-bg">
    
</div> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md">
      <app-google-maps #myMap></app-google-maps>
    </div>
    
    <div class="col-md">
        <div class="row-md">
          <h1>
            Filters
          </h1>
        </div>
        <div class="btn-containerHQ">
			<button type="button" class="btn" 
					  [ngClass]="status1 ? 'btn-outline-success' : 'btn-outline-secondary'" 
					  (click)="handleGardenClick()">
			  Jardins Repertoriés
			</button>
			<button type="button" class="btn" 
					  [ngClass]="status2 ? 'btn-outline-success' : 'btn-outline-secondary'" 
					  (click)="handleSecondClick()">
			  Territoires Contaminés
			</button>
			<button type="button" class="btn" 
					  [ngClass]="status3 ? 'btn-outline-success' : 'btn-outline-secondary'" 
					  (click)="handleThirdClick()">
			  Zones à Danger
			</button>
			<button type="button" class="btn" 
					  [ngClass]="status4 ? 'btn-outline-success' : 'btn-outline-secondary'" 
					  (click)="handleFourthClick()">
			  Surfaces Contaminées
			</button>
			<button type="button" class="btn" 
					  [ngClass]="status5 ? 'btn-outline-success' : 'btn-outline-secondary'" 
					  (click)="handleFifthClick()">
			  Écoterritoires
			</button>
			<button type="button" class="btn" 
					  [ngClass]="status6 ? 'btn-outline-success' : 'btn-outline-secondary'" 
					  (click)="handleSixthClick()">
			  Pesticides
			</button>
			<button type="button" class="btn" 
					  [ngClass]="status7 ? 'btn-outline-success' : 'btn-outline-secondary'" 
					  (click)="handleSeventhClick()">
			  Plan d'urbanisme
			</button>
			<button type="button" class="btn" 
					  [ngClass]="status8 ? 'btn-outline-success' : 'btn-outline-secondary'" 
					  (click)="handleEigthClick()">
			  Densification
			</button>
			<button type="button" class="btn" 
					  [ngClass]="status9 ? 'btn-outline-success' : 'btn-outline-secondary'" 
					  (click)="handleNinthClick()">
			  Ilôt de chaleur
			</button>
			<button type="button" class="btn" 
					  [ngClass]="status10 ? 'btn-outline-success' : 'btn-outline-secondary'" 
					  (click)="handleTenthClick()">
			  Plaines Inondables
			</button>
			<button type="button" class="btn" 
					  [ngClass]="status11 ? 'btn-outline-success' : 'btn-outline-secondary'" 
					  (click)="handleEleventhClick()">
			  Périmètre urbain
			</button>
        </div>
    </div>
  </div>
</div>