.container-fluid {
    margin-top: 4%;
}

.container-fluid h1 {
    font-size: 24px;
    font-weight: 300;
}

.btn-containerHQ .btn {
    margin: 5px;
}

.btn-containerHQ {
    justify-content: center !important;
    align-items: center !important;
    align-content: center !important;
    justify-items: center !important;
}